sudo: false

language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_script:
  - curl -sS http://getcomposer.org/installer | php
  - php composer.phar install --prefer-source --no-interaction

script: phpunit
